body {
	padding-top:70px;
}

.productsrow {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
  
}
  
.menu-category {
 display: inline-block;
 margin-bottom:  0.25rem;
 padding:  1rem;
 width:  100%; 
}

.product-image {
  width: 100%;
}

.product {
  padding-top:22px;  
}

.btn-product {
	background-color:#222;
    color:#eee;
    border-radius:0;
}

.yellow {
  color:yellow;
  text-shadow:#ccc 1px 1px 0;
}

.jumbotron {
    padding: 0.3em 0.3em;
    color: #286090;
    h1 {
        font-size: 3em;
        text-align: center;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}
