<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Audit Results | Variable Rankings</title>


<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="css/dashboard.css">

<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/dormup.js"></script>
<script type="text/javascript" src="js/package.js"></script>

<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/dashboard.css" rel="stylesheet">

<script type="text/javascript">
</script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" style="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">FairML</a>
        </div>
        <div class="collapse navbar-collapse" style="">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" class="" style="">Audit</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="container">
    <div class="col-md-12">
    	<div class="jumbotron">
        	<div class ="center-block text-center">
            	<h2 id="saana_title"> FairML Variable Rankings</h2>  
        	</div>   
     	</div>

        <div class="container">
            <div class="menu row">
                <div class="product col-sm-6">
                    <img class="product-image menu-item list-group-item" src="{{main_ranking}}">
					<hr>
                    <h2>Combined Variable Ranking</h2>
                    <p> Bar graph showing combined variable rankings from all four different rankings methodologies in FairML.</p>
                    <hr>
                    <a href="{{ url_for('index') }}", class="btn btn-primary btn-lg ">FairML </a>
                    <hr>
                </div>

                <div class="col-sm-6">
                    <div class="productsrow">
                        <div class="product menu-category">
                            <div class="menu-category-name list-group-item active">IOFP Ranking</div>
                            <div class="product-image">
                                <img class="product-image menu-item list-group-item" src="{{iofp}}">
                            </div> <a href="#" class="menu-item list-group-item">IOFP<span class="badge">FairML</span></a>

                        </div>
                        <div class="product menu-category">
                            <div class="menu-category-name list-group-item active">LASSO Ranking</div>
                            <div class="product-image">
                                <img class="product-image menu-item list-group-item" src="{{lasso}}">
                            </div> <a href="#" class="menu-item list-group-item">LASSO<span class="badge">FairML</span></a>

                        </div>
                        <div class="product menu-category">
                            <div class="menu-category-name list-group-item active">mRMR Ranking</div>
                            <div class="product-image">
                                <img class="product-image menu-item list-group-item" src="{{mrmr}}">
                            </div> <a href="#" class="menu-item list-group-item">mRMR<span class="badge">FairML</span></a>

                        </div>
                        <div class="product menu-category">
                            <div class="menu-category-name list-group-item active">Random Forest Ranking</div>
                            <div class="div-image">
                                <img class="product-image menu-item list-group-item" src="{{rf}}">
                            </div> <a href="#" class="menu-item list-group-item">RF<span class="badge">FairML</span></a>

                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
</div>

</body>
</html>